<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Vendors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Corporate</a>
            </li>
            <li style="position: relative; left: 260px;">
              <a href="#" class="nav-link">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
      <hr>
      <h1 style="position: relative; left: 30px;">Bharti Reality </h1>
      <p style="position: relative; left: 30px;">Real State Agency</p>
      <hr>
      <div>
          <a>Scroll down to explore
            <span>&#8600;</span></a>&nbsp;
          <a>Scroll down to explore<span>&#8600;</span></a>&nbsp;
          <a>Scroll down to explore<span>&#8600;</span></a>&nbsp;
          <a>Scroll down to explore<span>&#8600;</span></a>&nbsp;
      </div>
      <hr>
      <div>
        <img  src="assets/images/building.jpeg" width="100%">
      </div>
      <div>
        <a>Learn about bharti reality<span>&#8600;</span></a>&nbsp;
        <a>Learn about bharti reality<span>&#8600;</span></a>&nbsp;
        <a>Learn about bharti reality<span>&#8600;</span></a>
    </div>
    <hr>
    <div class="row">
      <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
        <h1 style="color: blue;">About Bharti Reality</h1>
        <hr>
        <p>Company Built On trust</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsa sapiente deserunt perferendis, doloribus impedit minus provident quae cumque, eum sunt eos, hic eaque neque fugiat cum dolores dolorem! Impedit!</p>
        <div>
        <img  src="assets/images/building1.jpeg" width="100%" style="border: 1px solid; border-top-right-radius: 50px;">
        </div>
      </div>
      <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
        <img  src="assets/images/building1.jpeg" width="100%" style="border: 1px solid; border-bottom-left-radius: 100px;">
        <h1 style="color: blue;">Header Section</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsa sapiente deserunt perferendis, doloribus impedit minus provident quae cumque, eum sunt eos, hic eaque neque fugiat cum dolores dolorem! Impedit!</p>
        <a href="#" style="text-decoration: none;">Contact Us</a>
      </div>
    </div>
    <hr>
    <div>
      <a>explore our features<span>&#8600;</span></a>&nbsp;
      <a>explore our features<span>&#8600;</span></a>&nbsp;
      <a>explore our features<span>&#8600;</span></a>&nbsp;
      <a>explore our features<span>&#8600;</span></a>&nbsp;
  </div>
  <hr>
  <div class="row">
    <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
      <div style="background-color: brown; height: 200px;" class="text-center" >
        <img  src="assets/images/building2.jpeg" width="130" height="130" style="border-radius: 50%; position: relative; top: 50px;">
      </div>
      <div style="background-color: black;">
      <div class="text-center">
        <h1 style="color: white;">02 Made by people for people</h1>
      </div>
      <p class="text-center" style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est minima eaque necessitatibus odit laborum nisi eius! Nemo, commodi aliquid libero, perferendis tempore illo ipsam et, voluptates doloribus perspiciatis magnam ad.</p>
      <a style="position: relative; left: 15px; text-decoration: none;" href="#">Contact Us</a>
      </div>
      <div style="background-color: white; height: 200px; border: 1px solid;" class="text-center" >
        <img  src="assets/images/building2.jpeg" width="130" height="130" style="border-radius: 50%; position: relative; top: 50px;">
      </div>
    </div>
    <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
      <h1 style="color: blue;">01 Expertise</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsa sapiente deserunt perferendis, doloribus impedit minus provident quae cumque, eum sunt eos, hic eaque neque fugiat cum dolores dolorem! Impedit!</p>
      <a style="position: relative; left: 15px; text-decoration: none;" href="#">Contact Us</a>
      <div style="background-color: blueviolet;">
        <div style="background-color: brown; height: 300px; border: 1px solid;" class="text-center" >
          <img  src="assets/images/building2.jpeg" width="150" height="150" style="border-radius: 50%; position: relative; top: 50px;">
        </div>
      </div>
      <h1 style="color: blue;">03 Shared Values</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsa sapiente deserunt perferendis, doloribus impedit minus provident quae cumque, eum sunt eos, hic eaque neque fugiat cum dolores dolorem! Impedit!</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
      <h1>Compliances</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsa sapiente deserunt perferendis, doloribus impedit minus provident quae cumque, eum sunt eos, hic eaque neque fugiat cum dolores dolorem! Impedit!</p>
      <br><br><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsa sapiente deserunt perferendis, doloribus impedit minus provident quae cumque, eum sunt eos, hic eaque neque fugiat cum dolores dolorem! Impedit!</p>
      <a href="#" style="text-decoration: none;">View All</a>
    </div>
    <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
      <hr>
      <p>Urna, enim ut pellentesque<span style="position: relative; left: 90px;">&#8600;</span></p>
      <hr>
      <p>Urna, enim ut pellentesque<span style="position: relative; left: 90px;">&#8600;</span></p>
      <hr>
      <p style="color: orange;">Urna, enim ut pellentesque<span style="position: relative; left: 90px;">&#8600;</span></p>
      <hr>
      <p>Urna, enim ut pellentesque<span style="position: relative; left: 90px;">&#8600;</span></p>
      <hr>
      <p>Urna, enim ut pellentesque<span style="position: relative; left: 90px;">&#8600;</span></p>
      <hr>
      <p>Urna, enim ut pellentesque<span style="position: relative; left: 90px;">&#8600;</span></p>
      <hr>
      <p>Urna, enim ut pellentesque<span style="position: relative; left: 90px;">&#8600;</span></p>
      <hr>
      <p>Urna, enim ut pellentesque<span style="position: relative; left: 90px;">&#8600;</span></p>
    </div>
  </div>
  <footer style="background-color: black;">
    <div class="row">
      <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-3">
        <h1 style="color: white;">Company Name</h1>
        <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem debitis officia, facilis iusto vel repudiandae dignissimos et odio quas perferendis, dicta iste quae sunt corporis quibusdam beatae laborum quia.</p>
      </div>
      <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-3">
        <ul style="list-style-type: none; padding: 20px; color: white;">
          <li>About Us</li><br>
          <li>Features</li><br>
          <li>Compliances</li><br>
        </ul>
      </div>
      <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-3">
        <ul style="list-style-type: none; padding: 20px; color: white;">
          <li>Vendors</li><br>
          <li>Corporate</li><br>
          <li>Contact Us</li><br>
        </ul>
      </div>
      <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-3">
        <p style="position: relative; top: 20px; color: white;">Reach out to us</p>
      </div>
    </div>
  </footer>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
      <div>
        <img  src="assets/images/building2.jpeg" width="100%">
      </div>
      
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h5>Bharti Reality</h5>
        <div class="collapse navbar-collapse" id="navbarNav" style="position: relative; left: 70px;">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Vendors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Corporate</a>
            </li>
            <li style="position: relative; left: 60px;">
              <a href="#" class="nav-link">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
          <h1>We are the <span style="color: orange;">leader</span> in the construction</h1><br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, sapiente reprehenderit eum recusandae dolores possimus maxime! Alias, explicabo a dolore hic inventore laudantium. Blanditiis, quod voluptatibus! Totam, et. Ex, tempore.</p>
          <a>126<p>Projects</p></a>
          <a style="position: relative; bottom: 62px; left: 80px;">308<p>Clients</p></a>
          <a style="position: relative; bottom: 125px; left: 150px;">2112<p>Members</p></a><br>
          <a href="#" style="text-decoration: none;"><h3>Our <span style="color: orange;">Projects</span></h3></a>
          <div>
            <img  src="assets/images/building2.jpeg" width="100%">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
          <a href="#" style="text-decoration: none;"><h3>About <span style="color: orange;">Bharti Reality</span></h3></a>
          <div>
            <img  src="assets/images/building2.jpeg" width="100%">
          </div>
          <a href="#" style="text-decoration: none;"><h5>view our projects</h5></a><br>
          <h1><span style="color: orange;">Office</span>Building</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga iusto temporibus sed a minima nobis assumenda tempora dicta doloremque impedit, corrupti velit dolor, ratione blanditiis consequatur? Accusantium totam quidem magni.</p><br>
          <a href="#" style="text-decoration: none;"><h3 style="color: black;">View Project</h3></a>
        </div>
      </div>
      <div class="row" style="background-color: blue;">
        <h5 style="position: relative; left: 300px;">Why choose <span style="color: orange;">bharti reality</span></h5>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-3">
          <div>
            <img  src="assets/images/building2.jpeg" width="100%">
          </div>
          <h3>Innovative</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, maxime. Nobis, minus esse nostrum voluptatibus natus, pariatur odio cumque error, accusantium sit voluptatem. Dolorum ut alias beatae unde, aliquam porro.</p>   
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-3">
          <div>
            <img  src="assets/images/building2.jpeg" width="100%">
          </div>
          <h3>Fast Building</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, maxime. Nobis, minus esse nostrum voluptatibus natus, pariatur odio cumque error, accusantium sit voluptatem. Dolorum ut alias beatae unde, aliquam porro.</p>   
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt-3">
          <div>
            <img  src="assets/images/building2.jpeg" width="100%">
          </div>
          <h3>Cooperation</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo, maxime. Nobis, minus esse nostrum voluptatibus natus, pariatur odio cumque error, accusantium sit voluptatem. Dolorum ut alias beatae unde, aliquam porro.</p>   
        </div>
      </div>
      <div class="row">
        <h5 style="color: orange;">Compliance</h5>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
          <h3>See our <span style="color: orange;">Compliances</span> that you can download right from here.</h3><br>
          <a href="#" style="text-decoration: none;">Urna, anim ut pellentesque<span style="position: relative; left: 70px;">&#8595;</span></a><br><br>
          <a href="#" style="text-decoration: none;">Urna, anim ut pellentesque<span style="position: relative; left: 70px;">&#8595;</span></a><br><br>
          <a href="#" style="text-decoration: none;">Urna, anim ut pellentesque<span style="position: relative; left: 70px;">&#8595;</span></a><br><br>
          <a href="#" style="text-decoration: none;">Urna, anim ut pellentesque<span style="position: relative; left: 70px;">&#8595;</span></a><br><br>
          <a href="#" style="text-decoration: none;">Urna, anim ut pellentesque<span style="position: relative; left: 70px;">&#8595;</span></a><br><br>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 mt-3">
          <a href="#" style="text-decoration: none;"><h5>view all complilances</h5></a><br><br><br><br>
          <a href="#" style="text-decoration: none;">Urna, anim ut pellentesque<span style="position: relative; left: 70px;">&#8595;</span></a><br><br>
          <a href="#" style="text-decoration: none;">Urna, anim ut pellentesque<span style="position: relative; left: 70px;">&#8595;</span></a><br><br>
          <a href="#" style="text-decoration: none;">Urna, anim ut pellentesque<span style="position: relative; left: 70px;">&#8595;</span></a><br><br>
          <a href="#" style="text-decoration: none;">Urna, anim ut pellentesque<span style="position: relative; left: 70px;">&#8595;</span></a><br><br>
          <a href="#" style="text-decoration: none;">Urna, anim ut pellentesque<span style="position: relative; left: 70px;">&#8595;</span></a><br><br>
        </div>
      </div>
      <footer style="background-color: black;">
        <div class="row">
          <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <h1 style="color: white;">Company Name</h1>
            <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem debitis officia, facilis iusto vel repudiandae dignissimos et odio quas perferendis, dicta iste quae sunt corporis quibusdam beatae laborum quia.</p>
          </div>
          <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <ul style="list-style-type: none; padding: 20px; color: white;">
              <li>About Us</li><br>
              <li>Features</li><br>
              <li>Compliances</li><br>
            </ul>
          </div>
          <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <ul style="list-style-type: none; padding: 20px; color: white;">
              <li>Vendors</li><br>
              <li>Corporate</li><br>
              <li>Contact Us</li><br>
            </ul>
          </div>
          <div class= "col-xs-12 col-sm-6 col-md-4 col-lg-3 mt-3">
            <p style="position: relative; top: 20px; color: white;">Reach out to us</p>
          </div>
        </div>
      </footer>
    </div>
